*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
	color: #395B7B;
}

body{
	background-color: #F1F4F9;
}

header{
	width: 100%;
	background-color: #2687E9;
	padding: 15px 0;
}

.container-logo, .container, nav.menu{
	width: 980px;
	margin: 0 auto;
}

nav.menu{
	height: 38px;
	padding: 20px 0px;
}

section.buttons{
	float: left;
}

section.buttons .btn{
	padding: 12px 25px;
	color: white;
	border-radius: 5px;
	border: none;
	margin-right: 15px;
}

section.buttons .btn.btn-green{
	background-color: #4ABA58;
}

section.buttons .btn.btn-red{
	background-color: #B54949;
}

section.search{
	float: right;
}

section.search button{
	background-image: url(../images/icon_seach.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	border: 1px solid #c9d3dd;
	background-color: #f1f4f9;
	border-radius: 0 5px 5px 0;
	margin-left: -1px;
	padding: 18px 19px;
	outline: none;
}

section.search .icon-search{
	background-image: url(../images/icon_seach.png);
	background-repeat: no-repeat;
	background-position: 10px;
}

section.search input{
	padding: 10px 15px;
	border: 1px solid #C9D3DD;
	border-radius: 5px 0 0 5px;
	float: left;
	outline: none;
}

table{
	width: 100%;
	background-color: white;
	border: 1px solid #C9D3DD;
	border-radius: 5px;
	border-spacing: 0;
    border-collapse: collapse;
}

table tr td{
	padding: 14px 8px;
	margin: 0;
	border-bottom: 1px solid #C9D3DD;
}

table tr:last-child td{
	border: none;
}

table tr:first-child td{
	border-bottom: 1px solid #C9D3DD;
}

table thead tr td{
	font-weight: bold;
	background-color: #F8FAFC;
	padding: 8px;
}

table thead tr:first-child td:first-child{
	border-radius: 5px 0 0 0;
}

table thead tr:first-child td:last-child{
	border-radius: 0 5px 0 0;
}

table tr td:first-child{
	width: 35px;
}

table tr td:first-child input[type=checkbox]{
	margin-left: 10px;
}

table tbody tr:hover{ 
	outline: 1px solid #8BC8F6;
	background-color: #D8E9FB;
}
table tbody tr:hover td{
	border-color: #D8E9FB;
}