<nav class="menu">
	<section class='buttons'>
		<button type="button" class='btn btn-green new-car'>Novo Carro</button>
		<button type="button" class='btn btn-red delete-car'>Excluir Carro</button>
	</section>
	<section class='search'>
		<form class='form-search'>
			<input type="text" name="input" class='input-search' placeholder="Pesquisar" />
			<button class="btn-search" type="submit"><i class='icon-search'></i></button>			
		</form>
	</section>
</nav>
<div class="container"></div>
<div class="pagination"></div>